{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="section-conten padding-y bg">
    <div class="container d-flex justify-content-center align-items-center" style="min-height:100vh;">
      <div class="row w-100">
        <main class="col-md-6 mx-auto">
          <article class="card">
            <header class="card-header text-center">
              <h2><strong class="d-inline-block mr-3">Add New Category</strong></h2>
		</header>
		<div class="card-body">

			<div class="row">
				<div class="col-md-12">
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="form-group">
							<label></label>
							{{ form.category_name|as_crispy_field }}
						</div>
						<div class="form-group">
							<label></label>
							{{ form.slug|as_crispy_field }}
						</div>
						<div class="form-group">
							<label></label>
							{{ form.category_description|as_crispy_field }}
						</div>
						<div class="form-group">
							<label></label>
							{{ form.category_img|as_crispy_field }}
						</div>

						<input type="submit" value="Add Category" class="btn btn-primary">
					</form>
				</div>
			</div>

		</div> <!-- card-body -->
		</article>
	</main>
	</div> <!-- row -->
</div>
</section>

{% endblock %}
